<div class="main-page">
  <div class="welcome-container">
    <div class="full-screen background-image">
      <div>
        <h1 class="welcome-title">One Word At A Time</h1>
        <br>
        <a class="button-line" (click)="goToLogin()">Enter</a>
      </div>
    </div>
  </div>

  <div class="login">
    <div class="full-screen background-image login-content">
      <div>
        <h1 class="pseudo-title">Pseudo :</h1>
        <div class="pseudo-container">
          <input class="pseudo-input" matInput type="text" #pseudo>
        </div>
        <a class="button-line login-button" *ngIf="!isLoading" (click)="play(pseudo.value)" [attr.disabled]="!pseudo.value">Play</a>
        <a class="button-line login-button loader" *ngIf="isLoading" [attr.disabled]="true"><mat-progress-spinner diameter="30" mode="indeterminate"></mat-progress-spinner></a>
      </div>
    </div>
  </div>

  <div class="game">
    <one-word-at-atime></one-word-at-atime>
  </div>
</div>
